<div class="container">
  <% if @my_groups == [] %>
    <h1>You don't have any group yet</h1>
    <p><%= link_to "+ Create your first group", new_group_path %></p>
  <% else %>

    <h1>Here are all my groups :</h1>
    <br>

    <p><%= link_to "+ Create a new group", new_group_path %></p>
    <br>

    <% @my_groups.uniq.each do |group| %>
      <ul>
        <li>
          <p> <b>Name of the group : </b><%= group.name %></p>
          <p> <b>Admin : </b><%= group.creater.email %></p>
          <p> <b>Members : </b><% group.members.each do |user| %></p>
            <ul>  <li><%= user.email %></li></ul>
          <% end %>
          <% if group.creater_id == current_user.id %>
            <p><%= link_to "Create an event", new_match_path(group_id: group.id) %> - <%= link_to "Edit group", edit_group_path(group) %> - <%= link_to "Delete group", group_path(group), method: :delete, data: { confirm: "Are you sure?" } %></p>
          <% end %>
          <br>
        </li>
    </ul>
    <% end %>

  <% end %>
</div>

