<% possible_users = (User.all - [current_user]) %>
<div id='possible_users' data-input-id="group_user_ids" data-users='<%= (possible_users).to_json %>'> <% possible_users %> </div>

<div class="container">
  <h1>Create here your new group</h1>

<%= simple_form_for @group do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, label: "Give a name to your group" %>

      <%= f.input :user_ids, as: :hidden %>

        <div class="custom-dropdown">
          <div class="form-group ">
            <label for="shown_user_ids">Select the attendees :</label>
            <input type="text" id="shown_user_ids" autocomplete="off">
          </div>
          <div id="user_search_results" class="inactif">
              <% possible_users.each do |user| %>
              <p class='user' data-user-id="<%= user.id %>"><%= user.email %></p>
              <% end %>
          </div>
        </div>

        <div id="selected_user_ids" style="display: flex; flex-wrap: wrap;">
        </div>

      <%= f.button :submit, 'Create group', class: "btn-primary" %>
    <% end %>

</div>

<%= javascript_pack_tag 'users_dropdown' %>
