<div class="green-bottom-background">
  <div class="white-top-background">
  </div>
  <div class="container box-new content-main">
    <div class="container">
      <div class="form mt-4 mb-4">
        <h1 class="">Last step before getting started</h1>
        <%= simple_form_for current_user do |f| %>
          <%= f.input :name, label: 'First name *', placeholder: 'Pierre', input_html: { class: '' } %>
          <div class="first-name-error-message">
            <p>Please put a maximum date</p>
          </div>
          <%= f.input :last_name, label: 'Last Name *', placeholder: 'Dubois', input_html: { class: '' } %>
          <div class="last-name-error-message">
            <p>Please put a maximum date</p>
          </div>
          <%= f.input :birthdate, as: :date, html5: true, label: 'Birthdate', input_html: { class: '' } %>
          <%= f.input :phone_number, label: 'Phone number', placeholder: '0476/61.42.22', input_html: { class: '' } %>
          <%= f.input :country, priority: ["BE", "FR", "GB", "LU", "DE"], label: 'Country *' %>
          <div class="country-error-message">
            <p>Please put a maximum date</p>
          </div>
          <%= f.input :city, label: 'City *', placeholder: 'Gand', input_html: { class: '' } %>
          <div class="city-error-message">
            <p>Please put a maximum date</p>
          </div>
          <%= f.button :submit, 'Create my account', class:"button", id:"button-create-user" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
