<div class="green-bottom-background">
  <div class="white-top-background">
  </div>
  <div class="container box-new content-main">
    <div class="container" id="create-user">
      <div class="form mt-4 mb-4">
        <% if current_user.settings == false %>
          <h1 class="">Last step before getting started</h1>
        <% else %>
          <h1 class="">Modify my account</h1>
        <% end %>
        <%= simple_form_for current_user do |f| %>
          <%= f.input :name, label: 'First name *', placeholder: 'Pierre', input_html: { class: 'first-name-input' }%>
          <div id="first-name-error-message" class="error-message">
            <p>Please enter your first name</p>
          </div>
          <%= f.input :last_name, label: 'Last Name *', placeholder: 'Dubois', input_html: { class: 'last-name-input' } %>
          <div id="last-name-error-message" class="error-message">
            <p>Please enter your last name</p>
          </div>
          <%= f.input :birthdate, as: :date, html5: true, label: 'Birthdate', input_html: { class: 'birthdate-input' } %>
          <div id="birthdate-error-message" class="error-message">
            <p>Please enter a valid birthdate</p>
          </div>
          <%= f.input :phone_number, label: 'Phone number', placeholder: '0476614221', input_html: { class: 'phone-number-input' } %>
          <div id="phone-number-error-message" class="error-message">
            <p>Please enter a valid phone number</p>
          </div>
          <%= f.input :country, priority: ["BE", "FR", "GB", "LU", "DE"], label: 'Country *', input_html: { class: 'country-input' } %>
          <div id="country-error-message" class="error-message">
            <p>Please select your country</p>
          </div>
          <%= f.input :city, label: 'City *', placeholder: 'Gand', input_html: { class: 'city-input' } %>
          <div id="city-error-message" class="error-message">
            <p>Please enter your city</p>
          </div>
          <% if current_user.settings == false %>
            <%= f.button :submit, 'Create my account', class:"button", id:"button-create-user" %>
          <% else %>
            <%= f.button :submit, 'Apply changes', class:"button", id:"button-create-user" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
