<div id="homepage">
  <div class="white-background">
  </div>
  <div class="container content-main-my-account">
    <div>
      <div class="header-my-account">
        <div>
          <% if current_user.avatar != nil %>
            <%= image_tag "#{current_user.avatar}", class: "avatar-bordered-my-account"%>
          <% end %>
        </div>
        <div class="right-part-header">
          <div class="name-last-name-my-account">
            <h1> <%= current_user.last_name %> </h1>
            <h2> <%= current_user.name %> </h2>
          </div>
          <div class="edit-my-account">
            <%= link_to user_edit_path do %>
              <p><i class="edit-my-account icon fas fa-pencil-alt"></i></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="main-my-account">
        <div>
          <p><strong>Email :</strong> <%= "#{current_user.email}" %></p>
          <p><strong>Birthdate :</strong> <%= "#{current_user.birthdate}" %></p>
          <p><strong>Phone number :</strong> <%= "#{current_user.phone_number}" %></p>
          <p><strong>Country :</strong> <%= "#{current_user.country}" %></p>
          <p><strong>City :</strong> <%= "#{current_user.city}" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
