<div id="wrapper" class="background-green-white">

  <div class="container my-account-page-container">

    <div class="my-account-page">

      <div>

        <div>

          <%= link_to user_edit_path, class: "icon" do %>

            <p><i class="edit-my-account fas fa-pencil-alt"></i></p>

          <% end %>

        </div>

        <div class="my-account-top">

          <div>

            <% if current_user.avatar != nil %>

              <%= image_tag "#{current_user.avatar}", class: "avatar-bordered-my-account" %>

            <% else %>

              <%= image_tag "empty-avatar.png", class: "avatar-bordered-my-account" %>

            <% end %>

          </div>

          <div class="my-account-name-last-name">

            <h1> <%= current_user.last_name %> </h1>

            <h2> <%= current_user.name %> </h2>

          </div>

        </div>

      </div>

      <div class="my-account-middle">

        <div>

          <p><strong>Email :</strong> <%= "#{current_user.email}" %></p>

          <% if current_user.birthdate != nil %>

            <p><strong>Birthdate :</strong> <%= "#{current_user.birthdate.strftime("%d/%-m/%Y")}" %></p>

          <% end %>

          <% if current_user.phone_number != "" %>

            <p><strong>Phone number :</strong> <%= "#{current_user.phone_number}" %></p>

          <% end %>

          <p><strong>Country :</strong> <%= "#{current_user.country}" %></p>

          <p><strong>City :</strong> <%= "#{current_user.city}" %></p>

        </div>

      </div>

    </div>

  </div>

</div>

