<h1>My account</h1>

<p><strong>First name :</strong> <%="interpoler first_name"%></p>
<p><strong>Last name :</strong> <%="interpoler last_name"%></p>
<p><strong>Email :</strong> <%="interpoler email"%></p>


<p><%= link_to "Update infos", edit_user_registration_path %></p>

<p><%= link_to "Back home", root_path %></p>


