
<div id="wrapper" class="background-green-white-home home">

  <div id="homepage">

    <div class="landing-main">

      <div class="devise-cm">

        <p class="devise-cm-up">The automated event scheduler</p>

        <p class="devise-cm-down">save time by creating time</p>

      </div>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">

          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

        </ol>

        <div class="carousel-inner">

          <div class="carousel-item active">

            <h4 class="caption-sentence">Simplify your life</h4>

            <%= image_tag("calendar-desktopHD.jpg", srcset: [["calendar-desktop.jpg", "1080w"], ["calendar-mobile.jpg", "600w"]], sizes: "100vw") %>

            <div class="filter"></div>

            <div class="carousel-caption d-none d-md-block">

            </div>

          </div>

          <div class="carousel-item">

            <h4 class="caption-sentence">Make plans with your friends</h4>

            <%= image_tag("friends-desktopHD.jpg", srcset: [["friends-desktop.jpg", "1080w"], ["friends-mobile.jpg", "600w"]], sizes: "100vw") %>

            <div class="filter"></div>

            <div class="carousel-caption d-none d-md-block">

            </div>

          </div>

          <div class="carousel-item image">

            <h4 class="caption-sentence">Schedule business meetings</h4>

            <%= image_tag("business-desktopHD.jpg", srcset: [["business-desktop.jpg", "1080w"], ["business-mobile.jpg", "600w"]], sizes: "100vw") %>

            <div class="filter"></div>

            <div class="carousel-caption d-none d-md-block">

            </div>

          </div>

          <div class="carousel-item">

            <h4 class="caption-sentence">Organize family dinners</h4>

            <%= image_tag("family-desktopHD.jpg", srcset: [["family-desktop.jpg", "1080w"], ["family-mobile.jpg", "600w"]], sizes: "100vw") %>

            <div class="filter"></div>

            <div class="carousel-caption d-none d-md-block">

            </div>

          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

          <span class="carousel-control-prev-icon" aria-hidden="true"></span>

          <span class="sr-only">Previous</span>

        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

          <span class="carousel-control-next-icon" aria-hidden="true"></span>

          <span class="sr-only">Next</span>

        </a>

      </div>

    </div>

    <% if user_signed_in? %>

      <div class="create-event-button">

        <%= link_to "Create an event", new_match_path, class: "button" %>

      </div>

      <% else %>

      <div class="create-event-button">

        <%#= link_to "Create an event", new_match_path, class: "button" %>
        <div class="button">How it works (soon)</div>


      </div>

    <% end %>

    <%#  <div class="container landing-header mt-5">

      <h4>"Thanks to CM we can easily plan our girls nights" - ⭐️⭐️⭐️⭐️⭐️</h4>

      <p>Maria, 35 y.o.</p>

    </div> %>

  </div>

</div>
