<h1>Matches down here</h1>
<% @matchs.each do |match| %>
 <!--
  tryed to implement if statement for the statue of the event

  if match.state = "cancel"
    <p>[canceled]</p>
  elsif match.state = "done"
    <p>[done]</p>
  else
    <p>[pending]</p>
  end
  -->
  <ul>
    Title: <%= match.title %>
    <br>
    Description: <%= match.description %>
    <br>
    Location: <%= match.location %>
    <br>
    Date:<%= match.match_date %>
    <br>
    Hour: from <em><%= match.min_time %></em> until <em><%= match.max_time %></em>
    <br>
    organized by: <%= match.owner.email %>
    <br>
  </ul>
<% end %>
<%= link_to "Create an event", new_match_path %>

<!-- can change the email in the link to get the right calendar directly from google -->
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=mrdifalko%40gmail.com&ctz=Europe%2FBrussels" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

<div
  id="calendar"
  data-ids="<%= current_user.email %>"
>
</div>
