<div id="homepage">
  <div class="white-background">
  </div>
  <% if @my_events == [] %>
    <div class="landing-main-events-empty container">
      <div class="no-event">
        <div>
          <h3>You don't have any event yet</h3>
        </div>
        <div>
          <%= link_to new_match_path, class: "add-something" do %>
            <i class="fas fa-plus"></i> Create your first event
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="landing-main-events container">
      <div class="add-something">
        <%= link_to new_match_path do %>
          <p><i class="icon fas fa-plus"></i> Add a new event</p>
          <% end %>
      </div>

      <div class="group-layout">
        <% @my_events.each do |match| %>

          <div class="card-group-index">

            <div class="top">
              <h3><%= match.title.capitalize %></h3>
              <img src="<%= match.owner.avatar %>" class="card-trip-user avatar-bordered" />
            </div>

            <div>
              <% if match.match_date == nil %>
                <p>Still looking for a match</p>
              <% else %>
                <p><%= "#{match.match_date.strftime("%a %d %B %Y")} from #{match.min_time.strftime("%H:%M")} until #{match.max_time.strftime("%H:%M")}" %></p>
              <% end %>

              <% if match.location != "" %>
                <p><b>Location :</b> <%= match.location %></p>
              <% end %>

              <% if match.description != "" %>
                <p><b>Description : </b><%= match.description %></p>
                <% end %>

              <p><b>Attendees :</b></p>
            </div>


            <div class="medium">
              <div class="group-member-layout">

                <% match.attendees.each do |user| %>
                  <p class="size-review"><%= user.email %></p>
                <% end %>
              </div>
            </div>

            <div class="bottom">
              <% if match.owner_id == current_user.id  %>
                <%= link_to edit_match_path(match) do %>
                  <i class="icon fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to match_path(match), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="icon fas fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @validated %>
<<<<<<< HEAD
    <%= SendInvitation.new(@validated,current_user) %>
=======
>>>>>>> f2aea6491c7b4557c9799177dd46b2883d2f5a3d
    <div id="backpopup" class="backpopup"></div>
    <div class="flash flash-success alert alert-dismissible fade show" role="alert">
      <span class="confirmation-alert"> 🎉 <strong>Yay !</strong> 🎉 </br></br> You successfully created <b><%= @validated.title %></b></br> on the <b><%= @validated.match_date.strftime("%d-%m-%Y")  %></b> from <b><%= @validated.min_time.strftime("%H:%M") %></b> to <b><%= @validated.max_time.strftime("%H:%M") %></b> ! </br></br> Invitations have been sent to the attendees.</span>
      <a data-dismiss="alert" aria-label="Close">
        <i class="clickme fas fa-times"></i>
      </a>
    </div>
  <% end %>
</div>

<script>
  document.querySelector('.clickme').addEventListener("click", (e) => {
    e.preventDefault()
    document.querySelector('#backpopup').classList.remove("backpopup")
  })
</script>

       <!--
        tryed to implement if statement for the statue of the event

        if match.state = "cancel"
          <p>[canceled]</p>
        elsif match.state = "done"
          <p>[done]</p>
        else
          <p>[pending]</p>
        end
        -->

<!-- can change the email in the link to get the right calendar directly from google -->
<!-- <iframe src="https://calendar.google.com/calendar/embed?src=mrdifalko%40gmail.com&ctz=Europe%2FBrussels" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->

