<%# Refresh my events on creation of a match %>
<% GoogleRefresh.refresh_all(current_user) %>

<% current_user.reload.user_events %>

<div id="wrapper" class="background-green-white">

  <div class="container">

    <% possible_users = (User.all - [current_user]) %>

    <div id='possible_users' data-input-id="match_user_ids" data-users='<%= (possible_users).to_json %>'> <% possible_users %> </div>

    <div id='create-event'>

      <div class="form">

        <%= simple_form_for @match do |f| %>

          <div class="title-container">

            <%= f.input :title, label: 'Title of the event :', placeholder: 'Family diner', input_html: { class: 'title-input' } %>

            <div id="title-error" class="error-message">

              <p>Please put a title</p>

            </div>

          </div>

          <%= f.input :location, label: 'Address of the event :', placeholder: '29 rue du bondinner' %>

          <%= f.input :description, label: 'Description :', placeholder: "Bring some desserts and don't be late" %>

          <p class="date-label">You want your event to happen between :</p>

          <div class="date-container">

            <div class="min_date">

            <%# try to implement a placeholder here with "DateTime.now.strftime("%d/%m/%Y")" %>

              <%= f.input :min_date, as: :date, html5: true, label: 'Min date *', input_html: { class: 'date-min-input' } %>

              <div id="date-min-error" class="date-min-error-message">

                <p>Hey i'm Yann</p>

              </div>

              <div id="date-min-error-2" class="error-message">

                <p>Please put a minimum date above today's date (ex: 10/12/1997)</p>

              </div>

            </div>

            <div class="max_date">

              <%= f.input :max_date, as: :date, html5: true, label: 'Max date', input_html: { class: 'date-max-input' } %>

              <div id="date-max-error" class="error-message">

                <p>Please put a maximum date</p>

              </div>

              <div id="date-max-error-2" class="error-message">

                <p>Please put a maximum date above minimum date</p>

              </div>

            </div>

          </div>

          <p class="hours-label">You want your event to happen from :</p>

          <div class="hours-container">

            <div class="hours-container-1">

              <p class="hours-label-1">Min hour *</p>

              <div class="hours-mins-container-1">

                <%= f.input :min_timeh, label: false, placeholder: "19", input_html: { min: '0', max: '24', step: '1' }, input_html: { class: 'hour-min-input', maxlength: 2 }%>

                <p id="double-point-min" class="double-point">:</p>

                <%= f.input :min_timem, label: false, placeholder:"30", input_html: { min: '0', max: '59', step: '1' }, input_html: { class: 'min-min-input', maxlength: 2 }%>

              </div>

              <div id="hour-min-invalid" class="error-message">

                  <p>Please put a valid minimum hour</p>

              </div>

              <div id="right-hour" class="error-message">

                  <p>Min hour must be lower than hour max</p>

              </div>

            </div>

            <div class="hours-container-2">

                <div>

                  <p class="hours-label-2">Max hour *</p>

                </div>

                <div class="hours-mins-container-2">

                  <%= f.input :max_timeh, label: false, placeholder:"22", input_html: { min: '0', max: '24', step: '1' }, input_html: { class: 'hour-max-input', maxlength: 2 } %>

                  <p id="double-point-max" class="double-point">:</p>

                  <%= f.input :max_timem, label: false, placeholder:"30", input_html: { min: '0', max: '24', step: '1' }, input_html: { class: 'min-max-input', maxlength: 2 } %>

                </div>

                <div id="hour-max-invalid" class="error-message">

                  <p>Please put a valid maximum hour</p>

                </div>

            </div>

          </div>

          <div class="custom-dropdown">

            <div id="attendee-div" class="form-group">

              <label for="shown_user">Select the attendees : *</label>

              <div>

                <span id="user-icon" class="fa fa-user user-icon"></span>

              </div>

              <input type="text" id="shown_user_ids" autocomplete="off">

            </div>

            <div id="user_search_results" class="inactif">

                <% possible_users.each do |user| %>

                <p class='user' data-user-id="<%= user.id %>"><%= user.email%> <i class="fas fa-plus"></i></p>

                <% end %>

            </div>

            <div id="attendee-error-message" class="error-message">

              <p>Please select at least one friend</p>

            </div>

          </div>

          <div id="selected_user_ids" style="display: flex; flex-wrap: wrap;" data-group="<%= @group_user_ids.to_json %>">

          </div>

          <% if @match.errors.present? %>

            <p class="attendee_error_msg"> <%= @match.errors[:user_ids][0] %> </p>

          <% end %>

          <%= f.input :user_ids, as: :hidden %>

          <% if group = Group.find_by_id(params['group_id']) %>

          <% else %>

            <%= check_box_tag "create_group", 'create_group' %>

            <%= label_tag "Create a group :" %>

            <%= text_field_tag :group_name, nil, placeholder: '  Family' %>

          <% end %>

          <div class="button-create-match">

            <%= f.button :submit, 'Match us', class:"button", id:"button-find-the-match" %>

          </div>

        <% end %>

      </div>

    </div>

  </div>

</div>
